.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: inline;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin-bottom: 50px;
}
table {
  border: 2px solid rgb(93, 167, 228);
  width: 800px;
  height: 200px;
  display: inline-table;
  text-align: left;
}

tr {
  border-bottom: 1px solid black;
}

th {
  border: 1px solid #c0c0c0;
  width: 300px;
  padding-left:  20px;
}
td {
  text-align: center;
  border: 1px solid #c0c0c0;
}

.box {
  border: 1px solid #d62525;
}